@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@layer base {
  body{
    @apply bg-[#141414] text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-slate-200 
  }
    html {
      font-family: 'Montserrat', sans-serif;
    }
  }
  .active-link::before{
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: -3px;
    left: 0;
    border-radius: 4px;
  }
  .thumbnail-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-in-out;
  }
  
  .thumbnail-overlay:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .movie-name {
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .thumbnail-overlay:hover .movie-name {
    opacity: 1;
  }
  
  .custom-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.568); /* Adjust the shadow properties as needed */
  }
  @layer components{
    .bannerButton{
      @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
    }
  }